@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add some extra custom styles */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}